.carousel {
    margin-top: 2rem;
    height: 50vh !important;
    width: 50vw;
    background: black;
    border-radius: 30px;
}

.carouselImage {
    object-fit: contain;
}

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Rubik, sans-serif;
    margin-top: 100px;
}

.title {
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: #FFB800;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 2rem;
}

.description {
    font-size: 20px;
    max-width: 60%;
    text-align: justify;
}
