.menu,
.menuShadow{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    background: #fffdf3;
    z-index: 999;
    padding-bottom: .5rem;
    transition: all 0.2s ease-in-out;
}

.menuShadow{
    box-shadow: 0 3px 4px 2px #99999952;
}

.menuLogo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menuLogoRight {
    opacity: 0;
}

.menuLeft {
    padding-left: 1rem;
    margin-top: .5rem;
    justify-self: flex-start;
}

.menuRight {
    margin-right: 1rem;
    margin-top: .3rem;
    justify-self: flex-end;
}

.logo {
    justify-self: flex-start;
    margin-right: 1rem;
    margin-top: .5rem;
}

.modal {
    width: 100vw;
    height: 100vh;
}

.body{
    height: 100vh;
    width: 100%;
    /*background: #FFFDF3;*/
}

.exit{
    justify-content: flex-start;
    color: #FFB800;
    margin-left: 1rem
}

.menuContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    height: 60%;
    justify-content: space-around;
}

