.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Rubik, sans-serif;
    padding-bottom: 2rem;
    border-bottom: 1px solid #FFB800;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #FFB800;
    padding-top: 1rem;
}

.ingredients {
    font-size: 16px;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.euro{
    font-size: 20px;
}

.description {
    display: flex;
    flex-direction: column;
}
